<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MAI - Recuperação de senha</title>
        <link href="../css/styles.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400|Roboto:100,300,400" rel="stylesheet">
    </head>
    <body>
        <script>

            window.addEventListener( "load", function () {
  function sendData() {
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const code = urlParams.get("code");
    
    const XHR = new XMLHttpRequest();

    const FD = new FormData( form );
    FD.append("code", code);
    const formJSON = Object.fromEntries(FD.entries());
    console.log(formJSON);
    
    XHR.addEventListener( "load", function(event) {
      console.log(event);
      if(event.target.status != 200){
        try {
          console.log(JSON.parse(event.target.response)); 
          let text = JSON.parse(event.target.response).errors[0].msg; 
          alert(text);
        } catch (error) {
          console.log(error);
          alert( "Alguma coisa aconteceu errado." );
        }        
      }
      else{
        window.location.href = "/users/forgotPasswordSave"
        alert("Senha alterada com sucesso");
      }
              
    } );
    XHR.addEventListener( "error", function( event ) {
      alert( 'Alguma coisa aconteceu errado.' );
    } );
    XHR.open( "POST", "/users/forgotPasswordSave" );
    XHR.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    XHR.send( JSON.stringify(formJSON) );
  }
  const form = document.getElementById( "myForm" );

  form.addEventListener( "submit", function ( event ) {
    event.preventDefault();
    sendData();
  } );
} );
            </script>
        <div class="container">
            <header>
                <h1 style="font-family: roboto"> Esqueci a senha </h1>
            </header>
            <main>
                <form id="myForm">
    
                    <div class="inputDiv">
                        <label style="color: #db1f48">Senha</label>
                        <input
                        class="inputURL"
                          type="password"
                          name="password"
                          placeholder="Senha"
                        />
                      
                    </div>
                    <div class="inputDiv">
                        <label style="color: #db1f48">Confirmar Senha</label>
                        <input
                        class="inputURL"
                          type="password"
                          name="password2"
                          placeholder="Senha"
                        />
                      
                    </div>
                    <div class="enviarBotao">
                        <button type="submit" >Mudar senha</button>   
                    </div>
                    
                    </form>         
            </main>
            <footer>
                <h4 class="chr">TreinoMira</h4>
            </footer>
        </div>        
    </body>
</html>



